

html{
  font-size: 1rem; /* 16px X 62.5 = 10px = 1 rem */
  box-sizing: border-box; /* includes padding and border in elements total width and height */
}

body{
  margin:0;
  height:100vh;
  font-size:1.6 rem;
  font-family : Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height :100%;
}
/*Layout*/
.grid-container{
  display:grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr; /* used when defining grids , spans to whole screen */
  grid-template-rows: 5rem 1fr 5rem; /* header , main , footer */
  height: 100%;
}
header{
  grid-area: header; /* connecting this element to grid-template-areas */
  background-color: #203040;
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color:#ffffff;
}

.row{
  display:flex;
  flex-wrap: wrap; /* make responsive */
  justify-content: space-between;
  align-content: center;
}

/* Common */

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.2rem;
  padding: 1rem 0;
}
a{
  text-decoration: none;
}

a:hover{
  color:#ff8000
}


/* header */
header a {
  color:white;
  padding:1rem;

}
/* Common*/
.row{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
align-items:center;
}
 

/* Header */

header a{
  color:#ffffff;
  padding: 1rem
}
a.brand {
  color:#ffffff;
  font-weight:bold;
  font-size: 2rem;
}

.row.center{
  justify-content: center;
}

/* images */
img{
  border-radius:0.5rem; /*for all images */
}
img.medium{
  max-width: 20rem;
  width: 100%;
  height:300px;

}

/*card */
.card{
  border: 0.1rem #c0c0c0 solid ;
  background-color: #f8f8f8;
  border-radius:0.5rem;
  margin:1rem;
  width:320px;
}
.card-body{
  padding:1rem;
}
.card-body > *{
  margin-bottom: 0.5rem;

}
.price{
  font-size: 1.5rem;
}

/*Rating */
.rating span{
  color: #f0c040;
  margin :0.1rem;
}
